body {
  font: 14px "Comic Sans";
  margin: 20px;
}

.floor:after {
  clear: both;
  content: "";
  display: table;
}

.elevator-slot {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.elevator-slot:focus {
  outline: none;
}

.elevator-slot.selected-column {
  background: #b4ecb4;
}

.elevator-button {
  background-color: #ffce0d;
}